body{
    background-image: url("../images/question.png");
    background-size:cover;
}
div{
    margin-top:10%;
}
p{
    width:20%;
    font-size:30px;
    margin-left:40%;
    padding-top: 10px;
    margin-bottom: 0;
}
h1, h3, p, h4{
    color:black;
    text-align:center;
    text-shadow: -1px 0 #eee, 0 1px #eee, 1px 0 #eee, 0 -1px #eee;
}
h1{
    font-size:60px;
}
h3{
    font-size:45px;
}
h4{
    font-size:40px;
}