body{
    background-image: url("../images/sky.jpg");
    background-size:cover;
}
div{
    text-align:center;
    
}
p{
    font-size:30px;
    padding-top: 10px;
    margin-bottom: 0;
}
h1, h3, p, h4{
    color:black;
    text-align:center;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
h1{
    font-size:60px;
}
h3{
    font-size:45px;
}
h4{
    font-size:40px;
}